body {
    margin: 0;
    padding: 0;
    background-image: url('background.jpg'); /* Replace 'background.jpg' with the path to your image */
    
    background-position: center;
    opacity: 0.5; /* Adjust the opacity to control the fade effect */
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
     /* Ensure canvas is behind other content */
}